<nz-layout style="height: 100vh; position: fixed; min-width: 100vw; background-color: black;">
    <nz-header style="width: 100%; max-width: 1200px; display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <button routerLink="/rooms" nz-button nzType="primary" style="padding: 0 10px;">Back</button>
            <p style="color:white; font-size:2vh; margin: 0; text-align: center"> Profile </p>
        </div>
    </nz-header>
    <nz-content style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <p style="color:white; font-size:3vh; margin: 0; text-align: center"> Hello! Welcome back! </p>
        <br/>
        <p style="color:white; font-size:2vh; margin: 0; text-align: center"> User ID: </p>
        <p style="color:white; font-size:2vh; margin: 0; text-align: center"> {{nameID}} </p>
    </nz-content>
</nz-layout>